body {
    font-family: Arial, sans-serif;
    background: #dadada;
}

.verhushka {
    display: flex;
   justify-content: center;
    width: 100%;
    height: 250px;
    background: #2d2d2d;
}

.conteiner{
    max-width: 1920px;
    margin: 0 auto;
}

@media (max-width:1199px){
    .conteiner{
        max-width: 992px;
    }
}

@media (max-width:992px){
    .conteiner{
        max-width: 750px;
    }
}
@media (max-width:749px){
    .conteiner{
        max-width: none;
    }
}

.logo {
    display: flex;
    justify-content: center;
    
    height: 100%;
    width: 30%;
    color: #99e712;
    font-size: 50px;
}


.inoe {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 40%;
}
.inoe img {
    height: 230px;
}

.contacti {
    
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 30%;
    color: #99e712; 
    font-size: 25px;
    float: right;
    padding-right: 20px;
}

.contacti img {
    padding-top: 100px;
    width: 30px;
}

.contacti p {
     text-align: end;   
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    height: 40px;
    width: 100%;
    background: #414141;
}

.menu1 {
    display: flex;
    
}

.menu1 a {
    
    
    font-size: 15px;   
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.menu1 a:visited {
    color: white;
}
.menu1 a:hover {
    color: #99e712;
}
.menu1 a:active {
    transform: scale(1.1);
}

main {
  
    width: 100%;
    height: 100%;
    background: #dadada;
}

.karuseli {
    display: flex;
    justify-content: space-around;
    
    
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.caruseli1 {
    display: flex;
    justify-items: center;
}

.karuseli img {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.left_menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    height: 100%;
    width: 42%;
}
.left_menu1 {
    margin-bottom: 2px;
    width: 70%;
    height: 50px;
    background: #414141;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
}
.left_menu1 {
   transition: all 0.2s;
    transform: scale(1);
}
.left_menu1:hover {
    background: #99e712;
    color: black;
}
.left_menu1:active {
    transform: scale(1.1);
}

.information {
    display: flex;
    flex-direction: row;
    height: 700px;
   
}

.conteiner h2 {
    margin-left: 30%;
    margin-top: 20px;
    font-size: 40px;
}
.information p {
    font-size: 20px;
}

.information1 {
    margin-top: 10px;
    margin-right: 15px;
    background: #f1f1f1;
    width: 98%;
    height: 600px;
    box-shadow: 0 4px 10px;   
}

.foto_works {
    display: flex;
}

.left_menu2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 42%;
}
.left_menu2 img {
    width: 50%;
    padding-bottom: 60px;
}

.foto_works1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-items: center;
    margin-right: 15px;
    width: 98%;
    height: 500px; 
}

.views {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120px;
    height: 120px;

    margin-bottom: 80px;
    margin-right: 80px;
}

.views_text {
    font-size: 20px;
    text-align: center;
    height: 40px;
    
    
}

.views a {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 300;
    text-shadow: 2px 4px 12px;
    padding-top: 24px;
}
.views a:hover {
    color: white;
}

.views_foto {
    justify-items: center;
    
  
    margin-top: 15px;
    margin-bottom: 15px;
}

.views img {
    justify-items: center;
    width: 120px;
    height: 120px;
    box-shadow: 0 4px 12px;
 
}

.info {
   display: flex;
    justify-content: center;
    flex-direction: column;
   align-items: center;
    width: 100%;
    height: 300px;
}

.info h3 {
    font-size: 40px;
}

.info p {
    font-size: 25px;
    padding-top: 20px;
}

.obratniy_zvonok {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    
    
}

.zvonok {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px;
}

.zvonok1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
}

.zvonok2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
}
.zvonok1 h4 {
    text-align: center;
    font-size: 25px;
    padding-top: 40px;
    text-shadow: 0 0.5px 2px;
}
.zvonok2 h4 {
    text-align: center;
    font-size: 25px;
    padding-top: 40px;
    text-shadow: 0 0.5px 2px;
}

.title_name {
    display: flex;
    justify-content: center;
   margin-top: 30px;
}

.title_number {
    display: flex;
    justify-content: center;
   margin-top: 30px;
}

.title_email {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title_name input {
    display: block;
    margin: 0 auto;
  
    font-size: 15px;
    font-weight: 300;
    color: #5d5d5e;
    height: 40px;
    width: 350px;
    padding-left: 15px;
    background: #d2d6dc;
    box-shadow: 0 4px 12px;
}
.title_number input {
    display: block;
    margin: 0 auto;
    
    font-size: 15px;
    font-weight: 300;
    color: #5d5d5e;
    height: 40px;
    width: 350px;
    padding-left: 15px;
    background: #d2d6dc;
    box-shadow: 0 4px 12px;
}

.title_email input {
    display: block;
    margin: 0 auto;
    
    font-size: 15px;
    font-weight: 300;
    color: #5d5d5e;
    height: 40px;
    width: 350px;
    padding-left: 15px;
    background: #d2d6dc;
    box-shadow: 0 4px 12px;
}

.input_message input {
    display: block;
    margin: 0 auto;
    
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    border: 2px solid rgb(153,231,18);
    border-radius: 5px;
    background: rgb(153,231,18);
    color: #000000;
    box-shadow: 0 4px 12px;
}
.input_message input {
    transition: all 0.1s;
    transform: scale(1);
}
.input_message input:hover {
    background: #ffffff;
}
.input_message input:active {
    transform: scale (1.1);
}

.zvonok2 h7 {
    display: block;
    margin: 0 auto;
    
    text-align: center;
    padding-top: 40px;
    font-size: 25px;
}

.karta {
    float: left;
    width: 100%;
    margin-top: 30px;
    height: 350px;
    background: url(../img/KartaKopiya.jpg) center/ cover no-repeat;
}

.podval {
    float: left;
    width: 100%;
    height: 90px;
    text-align: center;
    background: #2d2d2d;
}

.podval p {
    padding-top: 40px;
    color: rgb(153,231,18);
}

@media (max-width: 992px){
    .inoe img {
        height: 200px;
    }
    .left_menu1 {
        font-size: 8px;
    }
    .info {
        margin-top: 230px;
    }
    .title_name input {
        width: 250px;
    }
    .title_number input {
        width: 250px;
    }
    .title_email input {
        width: 250px;
    }
}

@media (max-width: 720px){
    .verhushka {
        width: 100%;
        height: 100px;
        justify-content: space-around;
    }
    .logo img {
        height: 100%;
    }
    
    .contacti {
        width: 60%;
    }
    .contacti p{
        font-size: 15px;
    }
    .contacti img {
        padding-top: 10px;
        width: 20px;
    }
    
    .inoe {
        display: none;
    }
    .information{
        margin-left: 15px;
    }
    
    .menu1 a {
        font-size: 11px;
    }
    
    .left_menu {
        display: none;
    }
    .left_menu2 {
        display: none;
    }
    .foto_works{
        padding-left: 6%;
        justify-content: flex-start;
    }
    
    .views {
        width: 120px;
        margin-right: 55px;
    }
    
    .info {
        padding-left: 6%;
        margin-top: 250px;
    }
    
    .obratniy_zvonok {
        padding-left: 6%;
    }
    .zvonok {
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        align-items: center;
    }
    .zvonok2 {
        height: 30%;
    }
    
    .zvonok2 h4 {
        font-size: 15px;
        padding-top: 5px;
    }
    .zvonok2 h7 {
        font-size: 15px;
        padding-top: 0;
    }
    
    .zvonok1 h4 {
        font-size: 15px;
        padding-top: 5px;
    }
    
    .title_number input{
        height: 30px;
    }
    .title_name input {
        height: 30px;
    }
    .title_email input {
        height: 30px;
    }
    .input_message input {
        max-width: 100%;
    }
}

